---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  background-image: url("https://hnlcory.github.io/images/unnamedUp.JPG");
}

// Customize the menubar color
.ui.menu {
   background: #B0C4DE;
}

// Customize the home page icon colors
.icon-color {
   color: #B0C4DE;
}


 
